In [2]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [4]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [12]:
df1.shape

(13320, 9)

In [13]:
df1.groupby("area_type")["area_type"].agg("count")

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [15]:
df2 = df1.drop(["area_type", "society", "balcony", "availability"],axis="columns")
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [17]:
df3 = df2.dropna()

In [18]:
df3.shape

(13246, 5)

In [20]:
df3.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [23]:
df3["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [24]:
# create new column to replace --> size 
#x.split give 2 token and with int we convert to integer number
df3["house_size"] = df3["size"].apply(lambda x: int(x.split(' ')[0]))

C:\Users\Abidi\AppData\Local\Temp\ipykernel_5628\3259919246.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["house_size"] = df3["size"].apply(lambda x: int(x.split(' ')[0]))

In [25]:
df3.head()

                   location       size total_sqft  bath   price  house_size
0  Electronic City Phase II      2 BHK       1056   2.0   39.07           2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00           4
2               Uttarahalli      3 BHK       1440   2.0   62.00           3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00           3
4                  Kothanur      2 BHK       1200   2.0   51.00           2

In [26]:
df3[df3.house_size>20] # not logik, we need to explore this total_sqft = sequar feet feature

,location,size,total_sqft,bath,price,house_size
1718,2Electronic City Phase II,27 BHK,8000,27.0,230.0,27
4684,Munnekollal,43 Bedroom,2400,40.0,660.0,43

In [27]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [32]:
def is_float(x):
    try:
        float(x)
    except: #if not float
        return False
    return True

In [44]:
df3[~df3["total_sqft"].apply(is_float)].head(10) # ~ is negate operation

Empty DataFrame
Columns: [location, size, total_sqft, bath, price, house_size]
Index: []

In [36]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [37]:
convert_sqft_to_num("200-300")

250.0

In [40]:
convert_sqft_to_num("200")

200.0

In [39]:
convert_sqft_to_num("200sq.Meter")

In [46]:
df4 = df3.copy() # deepcopy

In [ ]:
df4["total_sqft"] = df4["total_sqft"].apply(convert_sqft_to_num)

In [50]:
df4.head(10)

                   location       size  total_sqft  bath   price  house_size
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07           2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00           4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00           3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00           3
4                  Kothanur      2 BHK      1200.0   2.0   51.00           2
5                Whitefield      2 BHK      1170.0   2.0   38.00           2
6          Old Airport Road      4 BHK      2732.0   4.0  204.00           4
7              Rajaji Nagar      4 BHK      3300.0   4.0  600.00           4
8              Marathahalli      3 BHK      1310.0   3.0   63.25           3
9              Gandhi Bazar  6 Bedroom      1020.0   6.0  370.00           6

In [51]:
df4.loc[30]

location      Yelahanka
size              4 BHK
total_sqft       2475.0
bath                4.0
price             186.0
house_size            4
Name: 30, dtype: object

In [74]:
df5 = df4.copy()

In [75]:
df5["price_per_sqft"] = df5["price"] * 100000 /  df5["total_sqft"]

In [76]:
df5.head()

,location,size,total_sqft,bath,price,house_size,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [87]:
len(df5.location.unique()) # we can't convert this to matrix and add it , dimension problem

1293

In [78]:
df5.location

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13246, dtype: object

In [82]:
df5.location = df5.location.apply(lambda x: x.strip())

location_stats = df5.groupby('location')["location"].agg("count").sort_values(ascending=False)
location_stats

location
Whitefield                            535
Sarjapur  Road                        392
Electronic City                       304
Kanakpura Road                        266
Thanisandra                           236
                                     ...
poornaprajna layout                     1
pavitra paradise                        1
near Ramanashree California resort      1
mvj engineering college                 1
1Kasavanhalli                           1
Name: location, Length: 1293, dtype: int64

In [83]:
len(location_stats[location_stats <= 10])

1052

In [ ]:
location_stats[location_stats <= 10]

In [85]:
location_stats_less_than_10 = location_stats[location_stats <= 10]
location_stats_less_than_10

location
Kalkere                               10
Sadashiva Nagar                       10
BTM 1st Stage                         10
Basapura                              10
Gunjur Palya                          10
                                      ..
poornaprajna layout                    1
pavitra paradise                       1
near Ramanashree California resort     1
mvj engineering college                1
1Kasavanhalli                          1
Name: location, Length: 1052, dtype: int64

In [86]:
len(df5.location.unique())

1293

In [88]:
df5.location = df5.location.apply(lambda x: 'other' if location_stats_less_than_10 else x)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().